.header-out {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e6e6e6;
        background-color: rgb(125, 188, 234);
        color: #fff;
        .header-container {
        // padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
}